:root,
:root.theme-dark {
  --c-bg: #000028;
  --c-text: #F1B2CE;
  --c-accent: #FF0070;
  --c-accent-text: #000028;
  --c-ui-text: #FF0070;
  --c-hero: #DB00FF;
  --c-hero-shadow: #FF0070;
  --bg-image: url(../images/cover-image-dark.png);
}
