:root.theme-dark {
  --bg-color: #000028;
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --accent-text-color: #000028;
  --secondary-accent-color: #db00ff;
  --section-title-color: var(--accent-color); 
  --section-text-color: var(--main-text-color); 
  --decor-color: var(--accent-color);
  --menu-button-text-color: var(--accent-color); 
  --bg-image: url(../images/cover-image-dark.png);
  --rec-display: inline-flex;
}


