:root.theme-light {
  --c-bg: #fff1f7;
  --c-text:#353430;
  --c-accent: #ff8dcb;
  --c-accent-text: #353430;
  --c-ui-text: #353430;
  --c-hero: #ffc2e6;
  --c-hero-shadow: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

:root.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --c-bg: #fff1f7;
  --c-text:#353430;
  --c-accent: #ff8dcb;
  --c-accent-text: #353430;
  --c-ui-text: #353430;
  --c-hero: #ffc2e6;
  --c-hero-shadow: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
  }
  
  :root:not(.theme-dark) .header__rec {
    display: none;
  }
}
