:root.theme-light {
  --bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --main-text-color:#353430;
  --accent-text-color: #353430;
  --secondary-accent-color: #ffc2e6;
  --menu-button-text-color: #353430;
  --section-title-color: var(--accent-text-color);
  --section-text-color: var(--accent-text-color);
  --decor-color: var(--accent-text-color);
  --bg-image: url(../images/cover-image-light.png);
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --main-text-color:#353430;
    --accent-text-color: #353430;
    --secondary-accent-color: #ffc2e6;
    --menu-button-text-color: #353430;
    --section-title-color: var(--accent-text-color);
    --section-text-color: var(--accent-text-color);
    --decor-color: var(--accent-text-color);
    --bg-image: url(../images/cover-image-light.png);
    --rec-display: none;
  }
}
